
<div class="animal">
  {{#each allAnimal}}
  <div class="animalMenu" data-id="{{id}}">
    <figure class="caption-shadow">
      <img width="100" height="100" src="/img/{{photo}}">
      <figcaption>{{name}}</figcaption>
    </figure>
    <div class="btnAnimal">
      <button id='buttonDelete' value= {{id}}>Удалить</button>
      <button><a href="/changeAnimal/{{id}}">Редактировать</a></button>
    </div>
  </div>
  {{/each}}
</div>

<div>
  <h4>Форма добавления животного</h4>
  <form id="changeanimal" method="POST" action="/changeAnimal" enctype="multipart/form-data">
    <div>
      <label>
        Наименование животного:<br>
        <input class="input" id="name" type='text' name='name' />
      </label>
    </div>
    <div>
      <label>
        Описание:<br>
        <input class="input" id="description" type='text' name='description' />
      </label>
    </div>
    <div>
      <label>
        Загрузить фотографию:<br>
        <input type='file' name='img' />
      </label>
    </div>
    <button type="submit">Добавить</button>
  </form>
</div>
